.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}
.jogo-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 934px;
  position: relative;
}
.jogo-container h1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 50px;
}

.jogo-container img {
  width: 400px;
}

.jogo-container button {
  position: absolute;
  right: 0;
  top: 30px;
  width: 200px;
  height: 60px;

  background: #27ae60;
  border-radius: 8px;
  border-style: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}

.letras-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 664px;
  height: 91px;
}

.letras-container button {
  width: 40px;
  height: 40px;

  background-color: #e1ecf4;
  border: 1px solid #7aa7c7;
  border-radius: 3px;
  margin: 12px 11px;
  color: #39739d;

  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
}

.chute-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 630px;
}

.chute-container span {
  width: 144px;
  height: 23px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.chute-container input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 353px;
  height: 40px;

  margin: 0px 12px;

  background: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.chute-container button {
  width: 100px;
  height: 40px;

  background-color: #e1ecf4;
  border: 1px solid #7aa7c7;
  border-radius: 3px;
  margin: 12px 11px;
  color: #39739d;
  font-size: 16px;
  cursor: pointer;
}
